.container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  
  .info-box {
    width: 400px;
    flex-shrink: 0;
    scroll-snap-align: center;
    margin: 10px;
    overflow: hidden;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    white-space: nowrap;
  }
  
  li {
    padding: 10px;
    animation: marquee 10s linear infinite;
  }
  
  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  
  