

  ul {
    list-style-type: none;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border-top: 2px solid #000000;
    padding: 0;
    gap: 120px;
    flex-wrap: wrap;
  }
  ul li {
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  li {
    width: 10%;
    display: inline-block;
    vertical-align: top;
  }
  
  .work-title {
    margin: 10px 0;
    font-size: 30px;
  }

  a{
    color:#666666;
    font-size: xx-large;
  }